RewriteEngine on
RewriteBase /vip-web/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([0-9a-zA-Z]*)\/?$ index.php?mod=$1 [QSA,L]
RewriteRule ^([0-9a-zA-Z]*)/$ index.php?mod=$1 [QSA,L]
RewriteRule ^([0-9a-zA-Z]*)/(\d*)\-([0-9a-zA-Z+]*)\/$ index.php?mod=$1&id=$2 [QSA,L]